node_modules
npm-debug.log
.DS_Store

# .build
.cache
.tsc
# .log

.dist
dist

# 以上为通用配置

.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
